/* CSS Document */
body{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-image: url(img/fund2.jpg);
	font-size: 11px;
	margin:0;
	padding:0;
}
.textbox_procurar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
	background-color: #FFFFFF;
	height: 20px;
	width: 200px;
	border: 1px solid #676767;
}
#lista_marcas {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dotted;
	border-left-style: none;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
	font-weight: bold;
}

#lista_marcas a{
	
}
#lista_marcas a:hover{
	color: #339966;	
}


a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-decoration: underline;
	color: #000000;
	font-weight: bold;
}
a:active {
	text-decoration: none;
	color: #000000;
	
	}
	
.fonte_12_brc {
	color: #FFFFFF;
}
.ProdutoNome {
	font-size: 16px;
	font-weight: bold;
	color: #000000;
}

.fonte_marca {
	font-weight: bold;
	color: #FF3300;
}



.fonte_12px_bold
{
	color:#FFFFFF;
	font-size: 12px;
	font-weight: bold;
}
.borda_preta {
	border: 1px solid #000000;
}
.ProdutoMarca {
	font-size: 16px;
	font-weight: bold;
	color: #FF3300;
}
.ProdutoPreco {

	font-weight: normal;
	color: #FF0000;
}
.borda_escura_baixo {
	border-top-width: 4px;
	border-right-width: 4px;
	border-bottom-width: 4px;
	border-left-width: 4px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
}
.borda_cinza {

	border: 1px solid #CCCCCC;
}
.fundo_tabela {
	background-image: url(img/funda_table.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.fundo_tabela2 {

	background-image: url(img/funda_table.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.tabela_margin_cima {
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin: 0px;
}
.ProdutoNomeBranca {
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
}
.procurar {
	background-image: url(img/bg_procurar.jpg);
	border: 1px solid #000000;
}
.bg_titulo {
	background-image: url(img/bg_titulos.jpg);
	border: 1px solid #333333;
	height: 30px;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
}
