body{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin:0;
	padding:0;
	background-color: #096FB7;
	background-image: url(../img/fundo.jpg);
	background-repeat: repeat-x;
	background-position: center top;
}


a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-decoration: underline;
	color: #000000;
	font-weight: bold;
}
a:active {
	text-decoration: none;
	color: #000000;
	
	}




.titulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bolder;
	color: #FFFFFF;
	background-color: #3333FF;
}

#painel td {
	text-align: center;
	text-indent: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #3333FF;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 0px;
	padding-left: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	}
	
	.borda_roxa {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #3333FF;
	border-right-color: #3333FF;
	border-bottom-color: #3333FF;
	border-left-color: #3333FF;
}
