@charset "utf-8";
/* CSS Document */

/* Formulario */
form {
	width:450px;
}

input, textarea, select {

border:1px solid #336699;
	color:#336699;
	width:400px;
	padding:4px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: lighter;
	background-color: #C0DCFA;
 
 
  }

#botao {
	color:#FFFFFF;
	font-weight:bold;
	font-size:12px;
	padding:5px;
	cursor: hand;
	background-color: #006CD1;
	font-family: Arial, Helvetica, sans-serif;
	border:none;
	
