.form1 {
	BORDER-RIGHT: #000000 1px solid;
	BORDER-TOP: #000000 1px solid;
	FONT-SIZE: 11px;
	BORDER-LEFT: #000000 1px solid;
	COLOR: #000000;
	BORDER-BOTTOM: #000000 1px solid;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
	background-color: #f6f6f6;

}
