	body{
	font-size:9px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	margin:0px;
	padding:0px;
	text-align:left;
	color: #666666;
	}
	
	.poller{	/* The poller box */
	float:none;
	width:130px;
	height:220px;
	padding:0px;
	background-position: left top;
	margin:0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	}
	/* Poller title above radio buttons */
	.pollerTitle{
	margin-bottom:2px;
	font-weight:bold;
	color: #666666;
	}
	/* Label for each radio button */
	.pollerOption{
		margin:0px;
	}
	/* Label for each option above graph - i.e. results */
	.result_pollerOption{
		margin:0px;
		font-size:9px;
	}
	/* Title of poller - when ajax shows the results */
	.result_pollerTitle{
		margin-bottom:5px;
		font-weight:bold;
		font-size:9px;
	}
	/* Don't change this one, it is used to get the left and right image(the corner) positioned correctly */
	.result_pollGraph img{
		float:left;
	}
	/* The <div> tag where the percentage result is shown */
	.result_pollGraph div{
		float:left;
		height:16px;
		background-repeat:repeat-x;
		color:#FFF;
		font-size:10px;
		line-height:16px;
	}
	/* Graph div - parent of both the corner images and the div displaying percentage votes */
	.result_pollGraph{	
		height:16px;
	}
	
	/* Message when Ajax is working getting restults fromt the server */
	.poller_waitMessage{
		display:none;	
	}	
	
	.result_totalVotes{
		clear:both;
		font-size:9px;
		margin-top:10px;
		font-style:italic;
	}
