a {	text-decoration: none;	color: #FFFFFF; }
a:link { text-decoration: none; }
a:visited {	text-decoration: none; }
a:hover { text-decoration: none; }
body {
	SCROLLBAR-FACE-COLOR: #fffff;
	background: #CCCCCC;
	margin: 0;
	font-family: Verdana;
	font-size: 10px;
}
.caixa       { color: #0000FF; background-color: #B4E1FF; background-repeat: repeat; 
               background-attachment: scroll; font-family: Verdana; font-size: 12px; 
               border: 1px solid #3366FF; background-position: 0% }
.botaoOff { font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: blue; border-color:blue ; text-decoration: none; background-color: #0099FF}
.botaoOn { font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: white; border-color:silver ; text-decoration: none; background-color: black}
.menulk { 	font-size: 12;	font-weight: bold;	font-family: verdana;}
.mat {
	font-size: 12px;
	text-align: justify;
	color: #000000;
}
.tit {
	font-family: verdana;
	font-size: 10pt;
	font-weight: bold;
	color: #FF0000;
	}
.toplk {
	font-family: verdana;
	font-size: 9pt;
	font-weight: bold;
	color: #FFFFFF;
	text-align: right;
}
.condmar {
	font-weight: bold;
	color: #FFFFFF;
	font-size: 9pt;
}
iframe {
	border: 1px solid #0066CC;
}
.data {
	font-family: verdana;
	font-size: 9pt;
	color: #007EFD;
}
.tur {
	font-size: 9pt;
	font-weight: bold;
	color: #FFFFFF;
}
.nometur {
	font-size: 12px;
	color: #0033CC;
}
.titur {
	font-size: 14px;
	font-weight: bold;
	color: #FF0000;
}
.desc {
	font-size: 12px;
}
.imgnot {
	border: 1px solid #0066CC;
}
.leg {
	font-size: 9px;
	color: #FFFFFF;
}
.autor {
	color: #000000;
	font-size: 8pt;
	font-style: italic;
	text-align:right;
}
.descmar {
	font-size: 10px;
	font-weight: bold;
}
.mar {
	font-size: 10px;
}
.tbl {
	font-size: 12px;
}.apg {
	color: #CCCCCC;
	font-size: 12px;
}
.brddefault {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #000000;
	border-left-color: #000000;
}
.brdnoticia {
	border: 1px solid #999999;
}
